.entryCardContainer {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  margin: 0 10px;
}

.entryCardContent {
  display: flex;
}