.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px rgb(232, 232, 232) solid;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1rem;
}

.openBtn {
  padding: none;
  font-weight: bold;
  font-size: 1rem;
}

.openBtn:hover {
  border-bottom: 1px solid rgb(255, 172, 197);
}

.navLinksList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navListItem {
  background-color: wheat;
}

.navLink {
  position: relative;
  font-size: 1.5rem;
  margin-right: 2.5rem;
}

.navLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 172, 197);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navLink:hover:before  {
  visibility: visible;
  transform: scaleX(1);
}