.firstRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterForm {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterFormEntry {
  margin-right: 20px;
}

.filterInput {
  width: 80px;
}

.applyButton {
  background-color: white;
  border: 1px solid black;
  font-size: 0.8rem;
}

.applyButton:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.tagListContainer {
  display: flex;
  align-items: center;
}

.tagList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.tagContainer {
  display: flex;
  align-items: center;
  text-decoration: underline;
  width: rem;
}

.deleteTagBtn {
  background: none;
  border: none;
  margin-right: 5px;
}

.deleteTagBtn:hover {
  cursor: pointer;
  opacity: 50%;
}

.entryCardList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.entryCardContainer {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}