.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterForm {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterFormEntry {
  margin-right: 20px;
}

.filterInput {
  width: 80px;
}

.applyButton {
  background-color: white;
  border: 1px solid black;
  font-size: 0.8rem;
}

.applyButton:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.tagListContainer {
  display: flex;
  align-items: center;
}

.tagList {
  list-style: none;
  padding: 0;
  display: flex;
  /* align-items: center; */
}

.tagContainer {
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.deleteTagBtn {
  background: none;
  border: none;
  transition: 0.25;
}

.deleteTagBtn:hover {
  cursor: pointer;
  opacity: 50%;
  transform: scale(1.3);
}