.firstRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterForm {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterFormEntry {
  margin-right: 20px;
}

.filterInput {
  width: 80px;
}

.applyButton {
  background-color: white;
  border: 1px solid black;
  font-size: 0.8rem;
}

.applyButton:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.tagListContainer {
  display: flex;
  align-items: center;
}

.tagList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.entryCardList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}